.testimonial-benefirs-carousel {
  background-color: #ffffff; /* White background */
  width: 100%;
  border: 1px solid #d4d4d4;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  font-family: "Poppins", sans-serif;
 

  position: relative;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Optional shadow */
}

.testimonial-benefirs-container {
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

.testimonial-benefirs-text {
  font-size: 18px;
  color: #333;
  font-style: italic;
  margin-bottom: 10px;
}

.testimonial-benefirs-source {
  font-size: 16px;
  color: #666;
  font-weight: bold;
}

@media (max-width: 768px) {
  .testimonial-benefirs-text {
    font-size: 16px;
  }

  .testimonial-benefirs-source {
    font-size: 14px;
  }

  .testimonial-benefirs-carousel{
    width: 87%;
  }
}
